body {
    text-align: center;
    font-family: Arial, sans-serif;
    width: auto;
    background-color: white;
  }
  
  video {
    width: 100%;
    display: none;
  }
  
  canvas {
    display: block;
  }